<h1>
Stupid Coaching
</h1>

<div class="input-group mb-3 p-5">
<%= params[:questions] %>
--You
</div>

<div class="input-group mb-3 p-5">
<%= @answer %>
-- Coach
</div>

<div class="input-group mb-3 p-5"> 
<%= link_to "Ask a new question", ask_path %>
</div>